{% extends "base.html" %}

{% load static %}

{% block title %}
    Item page
{% endblock  %}
{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "css/color.css" %}">
{% endblock  %}

{% block content %}
    {{ block.super }}

    <h2> Имя: {{ item.name }} </h2><br>
    <div>
        Бренд: {{ item.brand }}
    </div>
    <div>
        Количество: {{ item.count | default:"товар отсутствует" }}
    </div>
    <div>
        Описание: {{ item.description }}
    </div>
    <h3>Цвета:</h3>
    {% if colors %}
        <ul class="ul_no_mark">
            {% for color in colors %}
                <li>
                    <span class="color-box" style="background-color: {{ color.name }};"></span>
                    {{ color.name }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        Данные по цветам отсутствуют
    {% endif %}

    <p> <a href='{% url "items-list" %}'>Назад к списку товаров</a> </p>

{% endblock %}